{% extends 'start_page/base.html' %}

{% block title %} Schedule details {% endblock %}

{% block schedules_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{ schedule.name }}</h1>
                    <h2>{{ schedule.school_year }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'start_page:detail' schedule.id %}">Pokaz wszystko</a></li>
                <li role="presentation" class="active"><a href="#">Dodaj przedmiot</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Wszystkie przedmioty</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nazwa przedmiotu</th>
                            <th>Skrocona nazwa przedmiotu</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sub in schedule.subject_set.all %}
                            <tr>
                                <td>{{ sub.name }}</td>
                                <td>{{ sub.short_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
