{% extends 'start_page/base.html' %}

{% block body %}
    <h1>{{ schedule.name }}</h1>
    <h3>{{ schedule.school_year }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'start_page:favorite' schedule.id %}" method="post">
        {% csrf_token %}
        {% for sub in schedule.subject_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="subject" value="{{ sub.id }}">
            <label for="song{{ forloop.counter }}">
                {{ sub.name }}
                {% if sub.is_favorite %}
                    <img src="http://i.imgur.com/b9b13Rd.png">
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}
