{% extends 'start_page/base.html' %}
{% load django_tables2 %}
{% block body %}
    <!-- Albums -->
    <a role="button" href="{% url 'start_page:object_creation:subject-add' schedule.id %}" class="btn btn-success btn-sm col-md-offset-5 col-md-2">Dodaj Przedmiot</a><br><br>
{#    {% if schedule.subject_set %}#}
        <div class="panel panel-group col-md-offset-3 col-md-6" style="background: gray; border: none;">
            <div class="panel-body">
                <div class="panel panel-group" style="background: lightgray; border: none;">
                    <div class="panel-body">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
{#    {% endif %}#}
{% endblock %}