[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-widget-tweaks = "*"
django-tables2 = "*"
six = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
