[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
mysqlclient = {path = "./Resources/mysqlclient-1.3.13-cp37-cp37m-win_amd64.whl"}
django-widget-tweaks = "*"
django-tables2 = "*"
six = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"

[dev-packages]

[requires]
python_version = "3.7"
