<div class="panel panel-default col-md-8">
    <div class="panel-heading">
        {% if schedule_selected.name %}
            <h4 id="schedule_table_title" style="text-align: center;">Plan {{ schedule_selected.name }}</h4>
        {% else %}
            <h4 id="schedule_table_title" style="text-align: center;">Plan nie wybrany</h4>
        {% endif %}
    </div>
    <div class="panel-body">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>PLAN</th>
                {% for i in max_lessons %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="table_body">
            {% for key, value in work_dict.items %}
                <tr>
                    <td scope="row">{{ value }}</td>
                    {% if lessons_list %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

</div>