{% load if_lesson_added %}
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<div class="panel panel-default col-md-8">
    <div class="panel-heading">
        {% if schedule_selected.name %}
            <h4 id="schedule_table_title" style="text-align: center;">Plan {{ schedule_selected.name }}</h4>
        {% else %}
            <h4 id="schedule_table_title" style="text-align: center;">Plan nie wybrany</h4>
        {% endif %}
    </div>
    <div class="panel-body">
    <table style="font-family: Arial,serif" class="table">
        <thead class="thead-dark">
            <tr>
                <th></th>
                {% for i in max_lessons %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        {{ schedule_panel|safe }}
    </table>
    </div>
</div>